workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "complaint",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "86e882c4-91f3-46a6-86f9-7ca0cbd61b7a",
      "name": "Webhook",
      "webhookId": "843fd1f7-a791-4544-a9e8-9d74d6e89703"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd3efcb6-e359-49e9-8df7-f617b825fdb6",
              "name": "user_message",
              "value": "={{$json.transcript || $json.message}}",
              "type": "string"
            },
            {
              "id": "88646510-11ad-474b-a7f6-356919b1e48f",
              "name": "type",
              "value": "=call",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "c56c3893-72f8-4764-9569-38a865981696",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "{\n  \"user_message\": \"user voice text\",\n  \"type\": \"call\"\n}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        464,
        0
      ],
      "id": "d54ceefb-2a4c-4149-98fe-d080dcf3677b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        752,
        -112
      ],
      "id": "c4ede595-02a7-42bf-9498-3b5718fabfdb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "S9y36BFkDFda718k",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"response\": \"{{$json.text}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        816,
        0
      ],
      "id": "f3ee041f-7413-4304-9d16-fb4e22ee4915",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "85403e4a-ca00-45e5-85c7-b24230f0a375",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "094a4a357cfc3caf428ceae6edd6556ea360344fc1389ba6202710840456cb53"
  },
  "id": "iVNOx5n3n2xo1QZ2",
  "tags": []
}